[filter "nbfmt"]
	clean = /usr/local/bin/python3 -m tensorflow_docs.tools.nbfmt --remove_outputs
	smudge = cat
	required = true
[diff "ipynb"]
	textconv = /usr/local/bin/python3 -m tensorflow_docs.tools.nbfmt --remove_outputs -t
